/*Had to write something in file for Github to accept the upload*/
body{
    color: black;
    background-color: rgb(245, 238, 238);

}

.button-class{
    background-color: red;
    border-radius: 80%;
}
